@use "sass:math";

.h5-player-root {
  position: relative;
  overflow: hidden;
}

.h5-player-video {
  width: 100%;
  display: block;
  position: relative;
}

.h5-player-controls {
  $height: 34px;

  height: $height;
  background: mix(transparent, #000, 80);
  background: linear-gradient(transparent, mix(transparent, #000, 60));
  display: flex;
  align-items: center;
  position: relative;
  user-select: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  transition: transform 200ms;
  transform: translate(0, 2 * $height);
  z-index: 1;

  &.show {
    transform: translate(0, 0);
  }

  &__play-btn {
    width: $height;
    height: $height;
    position: relative;
    cursor: pointer;

    $root: selector-parse(&);

    &-icon {
      height: 22px;
      width: 22px;
      transition: opacity 100ms, transform 300ms;
      position: absolute;
      top: 50%;
      left: 50%;
      opacity: 0;
      z-index: 0;
      transform: translate(-50%, -50%);

      &.play {
        opacity: 1;
        z-index: 1;
      }

      svg {
        fill: #fff;
      }
    }

    &.is-play {
      #{$root}-icon {
        opacity: 1;
        z-index: 1;

        &.pause {
          opacity: 1;
          z-index: 1;
        }

        &.play {
          opacity: 0;
          z-index: 0;
        }
      }
    }
  }

  &__full-screen-btn {
    width: $height;
    height: $height;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    $root: selector-parse(&);

    &-icon {
      height: 22px;
      width: 22px;
      cursor: pointer;

      svg {
        fill: #fff;
      }
    }
  }

  &__time {
    font-size: 12px;
    color: #fff;
    margin-right: 12px;
    white-space: normal;
    line-height: $height;
    width: 30px;
  }

  &__remainder {
    font-size: 12px;
    color: #fff;
    margin-right: 12px;
    margin-left: 12px;
    white-space: normal;
    line-height: $height;
    width: 30px;
  }
}

.h5-player-progress {
  $bar-height: 2px;
  $switch-size: 12px;
  $active-color: #f99;

  height: $bar-height;
  flex-grow: 1;
  position: relative;
  padding: 0 math.div($switch-size, 2);
  box-sizing: border-box;
  display: flex;

  &__base-bar {
    height: $bar-height;
    background-color: #fff;
    border-radius: 2px;
    flex-grow: 1;
  }

  &__active-bar {
    height: $bar-height;
    position: absolute;
    border-radius: 2px;
    top: 0;
    background-color: $active-color;
  }

  &__switch {
    height: $switch-size;
    width: $switch-size;
    border-radius: math.div($switch-size, 2);
    position: absolute;
    top: math.div(($switch-size - $bar-height), -2);
    left: 0;
    background-color: mix(#fff, transparent, 90);
    cursor: pointer;
  }
}
